:root {
  --text-color: #242525;
  --white: white;
  --main-background: #EEE;
  --segmented-bg: rgba(0, 0, 0, 0.04);
  --segmented-selected-bg: #FFF;
  --input-bg: #FFF;
  --border-color-base: #D3D5D6;
  --checkbox-checked-background: #326295;
  --text-color-secondary: #6D6F70;
}